---
---

@import "{{ site.theme }}";
h1, h2 { font-family: Raleway; color: #114b5f; }
h1 { font-size: 32px; }
h2:after
{
    content:' ';
    display:block;
    border:1px solid #114b5f;
}

section p { margin: 0 0 1em }

.wrapper { width: 1260px; }
header { width: 300px; }
section { width: 800px; }
