---
---

@import "{{ site.theme }}";
h1, h2 { font-family: Raleway; }
h1 { font-size: 32px; }
section p { margin: 0 0 1em }

.wrapper { width: 1260px; }
header { width: 300px; }
section { width: 800px; }
