<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV | Sebastián Lavigne</title>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <p class="contactlinks noprint">
          <a href="mailto:sebastianlavigne@tutanota.com">
            Email
          </a> / <a href="https://www.linkedin.com/in/sebas-lavigne/">
          LinkedIn
          </a> / <a href="{{ site.github.owner_url }}">GitHub</a>
        </p>
        
        <p class="printonly">
          Email - <a>sebastianlavigne@tutanota.com</a>
          <br>
          LinkedIn - <a>linkedin.com/in/sebas-lavigne</a>
          <br>
          GitHub - <a>github.com/sebaslavigne</a>
        </p>
        
        <p><em>Siempre motivado por adquirir nuevos conocimientos y apasionado por mi trabajo, integrando y adaptándome con facilidad a nuevos entornos y equipos. Me gusta trabajar de manera metódica, creativa e intuitiva, y busco dejar una huella de calidad y profesionalidad en las tareas que realizo.</em></p>
        
        <ul class="downloads noprint">
          <li><a href="https://raw.githubusercontent.com/sebaslavigne/cves/gh-pages/cv_sebastianlavigne_es.pdf">Descargar <strong>PDF</strong></a></li>
          <li><a href="https://sebaslavigne.github.io/cv/">Leer en <strong>inglés</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">Ver en <strong>GitHub</strong></a></li>
        </ul>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    
  </body>
</html>
